@media screen and (max-width: 768px) {
  .tools-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tools-container {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; */
  padding: 50px 0;
}

.tools-container a {
  color: #eee;
  display: inline-block;
}

.tool-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  user-select: none;
  line-height: 1.2;
  border: 1px solid #335;
  border-radius: 10px;
}

.tool-item img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 2/1;
}

.tool-item h2 {
  text-decoration: none;
  padding-bottom: 20px;
  text-align: center;
}

.tool-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
